---
import DemoComponent from "@/components/Demo";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebGL Shader Demo</title>
  </head>
  <body class="bg-black min-h-screen">
    <DemoComponent client:load />
  </body>
</html>
